{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <table class="table">
      <tbody>
        <tr><td> <b> Last upload: </b></td> <td> {{last_sub}} </td> </tr>
       <tr><td> <b> Status: </b> </td> <td>{{status}} </td> </tr>
     </tbody>
   </table>
 </div>
 <!--
 <div class="alert alert-info">
  <strong>Info!</strong> We are currently running a tournament! Uploads will be verified after the tournament finished!
</div>
 -->
 <div class="row">
   <p>Do you want to upload a new agent?</p>
   <p><b>Note: The background process restarts every five minutes only after that your latest upload will be considered.</b> </p> <p> (i.e. upload once every 5 minutes) </p>
   <form method='POST' enctype="multipart/form-data"> {% csrf_token %}
    {{form.as_p }}
    <input type='submit' value='Save' />
  </form>
</div>
</div>
{% if haveMessage %}

<div class="w3-container">
  <div id="id01" class="w3-modal" style="display:block">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <p>{{messageTitle}}</p>
        <p>{{message}}</p>
      </div>
    </div>
  </div>
</div>


{% endif %}

{% endblock %}


